.title {
  text-align: center;
  font-size: 130px;
  margin-bottom: 1%;
  background-image: linear-gradient(to left, violet, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
  text-align: center;
}

.sale {
  text-align: center;
  font-size: 85px;
  margin-bottom: 0%;
  color: rgb(41, 169, 41)
}

.usual {
  text-align: center;
  font-size: 40px;
  margin-top: 0%;
  opacity: 50%;
  color: rgb(48, 48, 48);
}

.percentage {
  text-align: center;
  font-size: 40px;
  margin-top: 0%;
  color: rgb(48, 48, 48);
}

.percentage2 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 0%;
  color: rgb(41, 169, 41)
}

.review {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0%;
  color: rgb(48, 48, 48);
}

.review2 {
  text-align: center;
  font-size: 70px;
  margin-top: 0%;
  color: rgb(48, 48, 48);
}